body {
  background: linear-gradient(180deg, #8e2de2, #4a00e0);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Muli', sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-gap: 20px; }

h1 {
  margin-top: 200px;
  margin-bottom: 100px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: white; }

.post {
  display: inline-block;
  width: 33%;
  text-align: center;
  color: white;
  font-size: 24px; }

.post a {
  color: white; }
